<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../framework.css"> -->
    <link rel="stylesheet" href="./NavBar.css">
    <title>Document</title>
</head>

<body>
    <nav class="nav">
        <div class="nav-logo">
            <img src="../../images/astronaut/2130.jpg" alt="" class="nav-logo-img">
            <div class="nav-text">
                <h2 class="nav-title">Toon Place</h2>
                <h3 class="nav-subtitle">Nav subtitle</h3>
            </div>
        </div>

        <div class="nav-explorer">


        </div>

        <ul class="nav-menu">
            <li >
                <a href="" class="menu-item">Home</a>
            </li>
            <li >
                <a href="" class="menu-item">Gallery</a>
            </li>
            <li >
                <a href="" class="menu-item">About Us</a>
            </li>
            <li >
                <a href="" class="menu-item">Contact</a>
            </li>
        </ul>
    </nav>
</body>

</html>